// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
nav{
  background-color: rgb(67, 74, 153);
}
nav a{
  color: white;
  font-weight: bold;
  font-size: calc(0.65em + 0.65vw);
}
nav a:hover{
  text-decoration: none;
  color:white;
}
a:hover{
  text-decoration: none;
}
.input::placeholder{
  font-size: calc(0.55em + 0.55vw);
  padding-left: 10px;
  opacity: 0.3;
}
.form-head p{
  color: rgb(67, 74, 153);
  font-weight: bold;
  font-size: calc(1em + 1vw);
}
img{
  width: 70%;
  height: 70%;
}
.form-body{
  background-color: rgb(244, 244, 244);
  border-radius: 12px;
  margin: 0 20% 0 20%;
}
form{
  padding: 5% 10% 0 10%;
}
.profile-img{
  width: 27%;
  height: 20%;
  margin: auto;
  margin-bottom: 15%;
  display: block;
  border-radius: 50%;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 5% 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


.cc:first-child{
  position: absolute;
  transform: rotate(10deg);
}
.cc:nth-child(2){
  position: absolute;
  transform: rotate(5deg);
}
.cc:nth-child(3){
  position: absolute;
  transform: rotate(0deg);
}